# Hockey Stick analysis

In [2]:
from pathlib import Path
from io import BytesIO

import requests
import pandas as pd
import numpy as np

In [16]:
BASE_DIR = Path().cwd().parent
DATA_DIR = BASE_DIR.joinpath("data")
INPUT_DIR = DATA_DIR.joinpath("raw")
OUTPUT_DIR = DATA_DIR.joinpath("processed")
LOCAL_SHP_DIR = BASE_DIR.joinpath("shp")

X value

In [17]:
gardena_pred_medhhinc_35yo = 30000
gardena_medhhinc_2016 = 40000

Y value

In [18]:
fremont_pred_medhhinc_35yo = 46000
fremont_medhhinc_2016 = 120000

Offsets

Initital step at age 2

Formula:

```
Base Offset = 0.62

Sub Offset = 0.89

X = low opportunity neighborhood
Y = high opportunity neighborhood

initial move = (Y-X) * Base_Offset + X
```

In [ ]:
SUB_OFFSET = 0.89

In [62]:
def calc_casual_move(x, y, offset = 1):
    BASE_OFFSET = 0.62
    return offset * ((y - x) * BASE_OFFSET) + x

Casual estimated start move (top dotted line in figure)

In [63]:
calc_casual_move(gardena_medhhinc_2016, fremont_medhhinc_2016)

89600.0

Bottom start move (bottom dotted line in figure) (whatever X is)

In [56]:
gardena_medhhinc_2016

40000

In [80]:
def estimate_income_gain(x, y, initial_offset = SUB_OFFSET):
    # what we'll subtract the initial_offset from on every pass
    MOVE_OFFSET = 0.025
    # our results 
    results = []
    # the ages we're measuring (2-23 years old)
    ages = [a for a in range(2, 24)]
    # our offset value set to the initial value pass to the function
    offset = initial_offset
    # begin loop to calc income gain/loss from move
    for age in ages:
        # setup result dict
        result = dict()
        result["age"] = age
        # only adjust the offset if we're not at the start i.e. not Age 2
        if age != 2:
            offset -= MOVE_OFFSET
        
        # calc pred gain/lose from move
        result["income"] = calc_casual_move(x, y, offset)
        # append to list to store result
        results.append(result)
    # return results after loop finishes
    return results

### Estimated neighborhood income

In [81]:
calc_casual_move(gardena_medhhinc_2016, fremont_medhhinc_2016)

89600.0

In [82]:
pd.DataFrame(estimate_income_gain(gardena_medhhinc_2016, fremont_medhhinc_2016))

    age   income
0     2  84144.0
1     3  82904.0
2     4  81664.0
3     5  80424.0
4     6  79184.0
5     7  77944.0
6     8  76704.0
7     9  75464.0
8    10  74224.0
9    11  72984.0
10   12  71744.0
11   13  70504.0
12   14  69264.0
13   15  68024.0
14   16  66784.0
15   17  65544.0
16   18  64304.0
17   19  63064.0
18   20  61824.0
19   21  60584.0
20   22  59344.0
21   23  58104.0

In [79]:
gardena_medhhinc_2016

40000

### Pred Income

In [83]:
pd.DataFrame(estimate_income_gain(gardena_pred_medhhinc_35yo, fremont_pred_medhhinc_35yo))

    age   income
0     2  38828.8
1     3  38580.8
2     4  38332.8
3     5  38084.8
4     6  37836.8
5     7  37588.8
6     8  37340.8
7     9  37092.8
8    10  36844.8
9    11  36596.8
10   12  36348.8
11   13  36100.8
12   14  35852.8
13   15  35604.8
14   16  35356.8
15   17  35108.8
16   18  34860.8
17   19  34612.8
18   20  34364.8
19   21  34116.8
20   22  33868.8
21   23  33620.8